#bottom{
    height: 30px;
    background-color: #EEEEEE;
    display: flex;
    position: relative;
}
#zhi{
    display: flex;
    height: 30px;
    width: 100%;
    position: absolute;
}

#bottom1{
   width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    position: absolute;
}
.bottom2{
    height: 30px;
    width: 30px;


}



