#menus{
    height: 50px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
#men{
    flex: 1;
    justify-content: center;
    align-items: center;

}
#menu{
    height: 25px;
    display: flex;
   justify-content: center;
}
#menu1{
    height: 25px;
    text-align: center;
    font-size: 10px;
}
#men-img{
    background-image: url(../img/图标-微信.svg);

}
#men-img:hover{
  background-image: url(../img/点图标-微信.svg);

}
#men-img1{
    background-image: url(../img/通讯录.svg);

}
#men-img1:hover{
    background-image: url(../img/点通讯录.svg);
}
#men-img2{
    background-image: url(../img/发现.svg);

}
#men-img2:hover{
    background-image: url(../img/点发现.svg);

}
#men-img3{
    background-image: url(../img/我.svg);
}
#men-img3:hover{
    background-image: url(../img/点我.svg);

}