#signal{
    height: 40px;
    background-color: #212121;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
    font-size: 12px;
}
#signal-left{
    height: 40px;
    flex: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
}


#singal-area{
    height: 20px;
    width: 35px;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}

#singal-area div{
    width: 4px;
    margin-left: 3px;
    border-radius: 1px;
}
#singal-area div:nth-child(1){
    height: 5px;
    background-color: #EEEEEE;
}
#singal-area div:nth-child(2){
    height: 10px;
    background-color: #EEEEEE;
}
#singal-area div:nth-child(3){
    height: 15px;
    background-color: #EEEEEE;
}
#singal-area div:nth-child(4){
    height: 20px;
    background-color: #757575;
}




#china{
    height: 20px;

}
#G{
    height: 20px;
    margin-left: 5px;
}


#time{
    height: 40px;
    width: 50px;
}
#signal-right{
    height: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#battery1{
    height: 13px;
    width: 40px;
    border-radius: 2px;
    border: 1px solid white;
}
#core{
    height: 10px;
    margin: 1px;
animation: charge 5s linear infinite;
}
#battery2{
    height: 3px;
    width: 2px;
    border-radius: 0 1px 1px 0;
    border: 1px solid white;
}
@keyframes charge {
    0%{
        background-color: red;
        width: 2px;
    }
20%{
    background-color: #FDD835;
    width: 10px;
}
    80%{
        background-color: #9CCC65;
        width: 25px;
    }
    100%{
        background-color: #689F38;
        width: 38px;
    }
}