#dynamic{

    background-color: white;
    flex: 1;
    overflow: scroll;

}
#dynamic1{
    height: 45px;
    display: flex;
    border-top: 1px solid #EEEEEE;
}

#find{
    height: 30px;
    flex: 1;
    display: flex;
    border-radius: 20px;
    background-color: #EEEEEE;
}

#find1{
    height: 26px;
    width: 26px;
    background-image: url(../../img/dynamic/搜索.svg);
    margin: 2px 0 0 10px;
}
#find2{
    height: 28px;
    width: 150px;
    font-size: 15px;
    color: #BDBDBD;
    margin: 3px 0 0 5px;
}


.beside{
    height: 45px;
    width: 15px;
    display: flex;
}
#focus{
    height: 80px;
    display: flex;
    border-top: 1px solid #EEEEEE;
}

.aka{
    height: 80px;
    width: 80px;
    display: flex;
    flex-flow: column;
}

.aka1{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
}
.aka2{
    height: 30px;
    width: 60px;
    font-size: 15px;
    text-align: center;
}


#topic{
    height: 90px;
    display: flex;
    flex-flow: column;
}
#topic1{
    height: 44px;
    display: flex;
}
#topic2{
    height: 44px;
    display: flex;
}

#topic1-1{
    height: 20px;
    width: 120px;
        margin-top: 10px;
    border-right: 1px solid #BDBDBD;
}
#topic1-2{
    height: 44px;
    flex: 1;
    display: flex;
}
#subscribe{
    height: 20px;
    width: 100px;
    color: #212121;
}
#chinese{
    height: 44px;
    flex: 1;
    display: flex;
    margin-left: 10px;
}
#arrow{
    height: 44px;
    width: 46px;
}



#arrow1{

}

#chinese1{
    display: flex;
    height: 35px;
    flex: 1;
    color: #2196F3;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    align-items: center;
}
#colon{
    height: 30px;
    width: 10px;
    color: #BDBDBD;
    margin-bottom: 5px;
}
#chinese2{
     height: 35px;
     width: 100px;
     text-overflow: ellipsis;
     overflow: hidden;
    white-space: nowrap;
     font-size: 13px;
     line-height: 35px;
    color: #BDBDBD;
 }

