
#title{
    height: 50px;
    background-color: #F06292;
    display: flex;
    flex-flow: row;

    justify-content: space-between;
}
#two{
    height: 50px;
    width: 70px;
    display: flex;
}

#title1{
    height:48px;
    width: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#title2{
    height: 40px;
    width: 50px;
     border-radius: 50px;
    margin-top: 5px;
    display: flex;
    background-image: url(../../img/species/四糸乃.jpg);
    position: relative;
}
#red{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: red;
    position: absolute;
    left: 50px;
    top: -1px;
}

.line{
    height: 3px;
    width: 10px;
    background-color: white;
    margin-top: 5px;
}
#channle{
    height: 50px;
    flex: 1;

}

#ch{
    height: 40px;
    width: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    color: white;
}


#three{
    height: 30px;
    width: 100px;
    display: flex;

}
.title4{
    height: 25px;
    width:25px;
    margin: 10px 0 0 13px;
}
